@charset "utf-8";

html, body{
    height:100%;
}

/** reset padding of body **/
body {
    padding: 0;
    width: 1080px;
    height: 1920px;
    background-color: black;
}

div {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    border-style: solid;
    border-width: 0px;
    color: white;
}

.dot {
    height: 1px;
    width: 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#weather {
    width: 255px;
    height: 550px;
    float: left;
}

/* Time */
#clock {
    width: 430px;
    height: 200px;
    float: left;
}

.clock {
    height: 100%;
    width: 80%;
    font-size: 50px;
    font-weight: bold;  
    color: 'white';
    text-align: center;
}


/* Apps: menu-bar, Gmail, Messenger, Media Player, Camera */
.apps {
    position: relative;
    top: 20px;
    width: 395px;
    height: 40%;
    float: right;
}

img {
    padding:10px;
}

#glasses-div, #tut-div {
    width: 130px;
    height: 150px;
    float: left;
}

#media-div {
    width: 130px;
    height: 150px;
    float: left;
}

#screenshot-div {
    width: 130px;
    height: 150px;
    float: left;
}

#dropDownWindow {
    width: 100%;
    height:80%;
    top: 150px;
    float: left;
}

#center-window {
    position: absolute;
    top: 210px;
    left: 260px;
    width: 640px;
    height: 480px;

    font-size: 50px;
    line-height: 480px;
    text-align: center;
}

canvas {
    //background-color: #222;
}
