/* This is the css file for media player */
#MediaPlay {
    position: relative;
    top: 10px;
    width: 430px;
    height: 400px;
}


#mediaPlayer {
    position: relative;
    top: 5px;
    left: 80px;
}


